html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 100%/1.5 system-ui, sans-serif;
  box-sizing: border-box;
}

body {
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  margin: auto;
  padding: 1em;
}

#map {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle {
  pointer-events: auto;
  cursor: pointer;
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  fill: var(--color);
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  width: 100%;
}

label {
  margin-left: auto;
  text-align: right;
  width: 50%;
}

#time-slider {
  width: 80%;
}

#selected-time,
#any-time {
  text-align: right;
  display: block;
  margin-top: 0.25em;
}

#any-time {
  color: gray;
  font-style: italic;
}

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-block: 1em;
  padding: 0.75em 1.5em;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  width: 100%;
  max-width: 60em;
}

.legend::before {
  content: "LEGEND:";
  font-weight: bold;
  color: gray;
}

.legend > div {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.legend > div::before {
  content: "";
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  background-color: var(--color);
  border: 1px solid #ccc;
}
